In [1]:
#importing all necessary libraries
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [2]:
column_names = ["pregnancies", "glucose", "bpressure", "skinfold", "insulin", "bmi", "pedigree","age", "class"]
df = pd.read_csv("data.csv", names= column_names)
df.head()

,pregnancies,glucose,bpressure,skinfold,insulin,bmi,pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#separating labels from features 
#colums 0 to 8 are the list of features
x = df.iloc[:, 0:8]
x.head()

   pregnancies  glucose  bpressure  skinfold  insulin   bmi  pedigree  age
0            6      148         72        35        0  33.6     0.627   50
1            1       85         66        29        0  26.6     0.351   31
2            8      183         64         0        0  23.3     0.672   32
3            1       89         66        23       94  28.1     0.167   21
4            0      137         40        35      168  43.1     2.288   33

In [4]:
#labels - the last class column is the labels 1 - has diabetes 0 - does not have diabetes
y = df['class']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state=0)
x_test.head()
#random_state=0 helps us to divide the data randomly into training and testing sets

     pregnancies  glucose  bpressure  skinfold  insulin   bmi  pedigree  age
661            1      199         76        43        0  42.9     1.394   22
122            2      107         74        30      100  33.6     0.404   23
113            4       76         62         0        0  34.0     0.391   25
14             5      166         72        19      175  25.8     0.587   51
529            0      111         65         0        0  24.6     0.660   31

In [6]:
#normalizing data bringing the data to a form that it is computable by the classifier
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
#for svm each column in the dataset should have avg=0 and standard deviation = 1
#standard scaler makes it easy

In [7]:
#CHECKING which kernel gives us the maximum accuracy
for k in ('linear', 'poly', 'rbf', 'sigmoid'):
    clf=svm.SVC(kernel=k)
    clf.fit(x_train,y_train)
    y_pred=clf.predict(x_train)
    print(k)
    print(accuracy_score(y_train, y_pred))

linear
0.7638888888888888
poly
0.7934027777777778
rbf
0.8246527777777778
sigmoid
0.6510416666666666

In [11]:
#we see that rbf kernel has the max accuracy
clf =  svm.SVC(kernel='rbf')
clf.fit(x_train, y_train)

SVC()

In [9]:
new_patient = np.array([[1., 100., 75., 40., 0., 45., 1.5, 20. ], ])
new_patient =  scaler.transform(new_patient)
clf.predict(new_patient)

array([0], dtype=int64)

In [12]:
y_pred= clf.predict(x_test)
print(accuracy_score(y_test, y_pred))

0.6770833333333334